<div class="wrapper">
    <div class="container">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginUser()">
            <label>
                <input type="email" placeholder="Enter Your Email" formControlName="email">
            </label>
            <span *ngIf="userEmail && userEmail.errors && userEmail.errors['required'] && isSubmitted"
                style="color: red">
                *Email is required
            </span>
            <span *ngIf="userEmail && userEmail.errors && userEmail.errors['email'] && isSubmitted" style="color: red">
                *Email is Invalid
            </span>
            <label>
                <input type="password" placeholder="Enter Your Password" formControlName="password">
            </label>
            <span *ngIf="userPassword && userPassword.errors && userPassword.errors['required'] && isSubmitted"
                style="color: red">
                *Password is required
            </span>
            <span *ngIf="userPassword && userPassword.errors && userPassword.errors['minlength'] && isSubmitted"
                style="color: red">
                *Password lenght sholud not be less than 6 chanracters
            </span>
            <ng-template  [ngIf]="isLoading" [ngIfElse]="showbtn">
                <div style="display:flex; justify-content: center;">
                    <div class=" loader"></div>
                </div>
            </ng-template>
            <ng-template #showbtn>
                <button class="sign-btn">Login</button>
                <p>Don't have an account ? <span [routerLink]="['/signup']"
                        style="cursor: pointer; color: blue; font-weight: 800">Sign Up</span></p>
            </ng-template>
        </form>
    </div>
</div>